.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: calc(5.7rem + env(safe-area-inset-bottom));

  &__main {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    overflow: auto;
  }
}
