.row {
  cursor: pointer;

  &_is_deleting {
    background-color: var(--color-error-200);
  }
}

td.firstColumn {
  padding-left: 0;
  padding-right: 0;
}

.dateColumn {
  display: flex;
  align-items: center;
  border-radius: 0 0.4rem 0.4rem 0;
  height: 100%;
  background: linear-gradient(135deg, var(--color-primary-50) 50%, var(--color-primary-100));
  cursor: pointer;

  &__colorMark {
    margin-right: 1rem;
    width: 0.8rem;
    height: 100%;
  }

  &__dateContainer {
    display: flex;
    flex-direction: column;
    padding: 0.6rem 1.6rem;
  }

  &__date {
    line-height: 1.6rem;
  }

  &__label {
    font-size: 1.2rem;
  }
}

.tags {
  display: inline-flex;
  gap: 8px;
}

.contractor {
  color: var(--color-gray-500);
}
