@use 'packages/theme/src/lib/styles/typography';

.article {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 2.4rem;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &__panel {
    padding: 0 3.2rem;
  }
}

.panel {
  &__toolbar {
  }
}

.toolbar {
  &__buttons {
    display: flex;
    gap: 0.8rem;
  }
}

.tableWrapper {
  overflow: auto;
  height: 100%;
  padding: 0 3.2rem 2.4rem;
}
