@use 'packages/theme/src/lib/styles/mixins';
@use 'packages/theme/src/lib/styles/typography';

.root {
  @include mixins.resetButton;
  display: flex;
  column-gap: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-bottom: 0.5px solid var(--color-gray-200);
  width: 100%;

  &_notLinked {
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;

    border-radius: 2rem;
    width: 4.8rem;
    height: 4.8rem;

    background: var(--color-gray-100);
    color: var(--color-gray-900);

    .root_notLinked & {
      background: var(--color-error-50);
      color: var(--color-error-500);
    }
  }

  &__content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex: 1 1 0;
    width: 0;
    text-overflow: ellipsis;
    @include typography.textMD;
    color: var(--color-gray-900);
  }

  &__providerAccount {
  }

  &__linkedAccount {
    .root_notLinked & {
      @include typography.textSM;
      color: var(--color-gray-500);
    }
  }

  &__expandButton {
    display: flex;
    align-items: center;
    flex: none;
    color: var(--color-gray-500);
  }
}
