@use 'packages/theme/src/lib/styles/colors';
@use 'packages/theme/src/lib/styles/media';

//.header__hamburger {
//  margin-left: -8px
//}

.header__logo {
  width: 2.4rem;
  height: 2.4rem;
}

.layout {
  display: flex;
}

.content {
  flex-grow: 1;
  height: 100vh;
  background-color: colors.$neutral100;
  //padding: 1px;
}

.empty {
  height: 100%;
}

.accountMenu {
  flex-grow: 0;
}
