@use 'packages/theme/src/lib/styles/mixins';
@use 'packages/theme/src/lib/styles/typography';

.root {
  @include mixins.resetButton;
  display: flex;
  flex-direction: row;
  padding: 0.8rem 1.6rem;
  gap: 1.6rem;

  border-bottom: 0.5px solid var(--color-gray-200);
  width: 100%;
  color: var(--color-gray-900);

  &_isHighlighted {
    background: var(--color-primary-25);
  }

  &__icon {
    flex-shrink: 0;
  }

  &__contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    flex: 1 0 0;
    width: 0;
  }

  &__noteWrapper {
    padding-right: 0.8rem;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;

  width: 4.8rem;
  height: 4.8rem;

  background: var(--color-gray-100);

  img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;

  &__header {
    display: flex;
    gap: 0.8rem;
  }

  &__accountsWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    width: 0;
  }

  &__accountName {
    align-self: stretch;
    flex: 1 1 0;
    width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    @include typography.textMD;

    &_fee {
      color: var(--color-gray-500);
    }
  }

  &__amount {
    align-self: center;
    flex-grow: 0;
    @include typography.textMD;
    white-space: nowrap;
    color: var(--color-gray-900);

    &_fee {
      color: var(--color-gray-500);
    }
  }
}

.note {
  display: flex;
  border-radius: 0.4rem 2rem 2rem 2rem;
  padding: 1.6rem;
  background: var(--color-gray-100);
  overflow: auto;

  &__text {
    @include typography.textSM;
    color: var(--color-gray-500);
  }
}
