@use 'packages/theme/src/lib/styles/media';
@use 'packages/theme/src/lib/styles/shadow';
@use 'packages/theme/src/lib/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  padding: 1.2rem;
  border-radius: 1.2rem;
  background: linear-gradient(45deg, var(--color-primary-700) 0%, var(--color-primary-600) 100%);
  width: 100%;

  max-height: calc(100vh - 160px);
  overflow: auto;

  @include shadow.shadowLG;

  @include media.only('sm') {
    padding: 1.6rem;
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    width: 100%;

    @include media.only('sm') {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    flex: 1 0 0;
    width: 0;

    @include media.only('sm') {
      width: 100%;
    }
  }

  &__featuredFlag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;

    background: var(--color-primary-600);
    border-radius: 1rem;

    @include media.only('sm') {
      display: none;
    }

    svg {
      color: var(--color-white);
    }
  }

  &__textAndSupportingText {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    @include media.down('lg') {
      gap: 0.2rem;
    }
  }

  &__text {
    @include typography.textMDSemibold;
    color: var(--color-white);
  }

  &__supportingText {
    @include typography.textMD;
    color: var(--color-primary-100);
  }

  &__supportingTextLink {
    @include typography.textMD;
    color: var(--color-primary-100);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    @include media.only('sm') {
      flex-direction: column-reverse;
      gap: 1.2rem;
      width: 100%;
    }
  }

  button.root__button {
    @include media.only('sm') {
      width: 100%;
      min-width: auto;
    }
  }

  &__options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    gap: 0.8rem;

    @include media.only('sm') {
      flex-direction: column;
      gap: 0.4rem;
    }
  }
}
