@use 'packages/theme/src/lib/styles/typography';

.pagination {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  @include typography.bodyHighlight;

  &__label {
    padding: 0 0.8rem;
    white-space: nowrap;
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__previousIcon {
    transform: rotate(180deg);
  }
}
