@import '~normalize.css';

body {
  height: 100vh;
  width: 100%;
  font-family: 'Helvetica Neue', arial, sans-serif;

  display: grid;
  grid-template: 'sidebar main';
}

* {
  box-sizing: border-box;
}

aside {
  grid-area: sidebar;
  background: lightgray;
  width: 200px;
  overflow: auto;
}

main {
  grid-area: main;
  overflow: auto;
}

article {
  overflow: auto;
}

:global {
  .scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

/* temporary */

table {
  border-collapse: collapse;
}

td {
  border-top: 1px solid #ddd;
}
