@use 'packages/theme/src/lib/styles/colors';

.moneySelect {
  display: flex;
  height: 100%;

  &__delimiter {
    align-self: stretch;
    width: 1px;
    background-color: colors.$gray;
  }

  &__target {
    padding: 0 8px;
  }
}
