@use 'packages/theme/src/lib/styles/colors';

.row {
  &__name {
    cursor: pointer;
    color: colors.$secondary700;

    &:hover {
      color: colors.$secondary600;
    }
  }

  &_selected {
    background-color: colors.$secondary200;
  }

  &:hover {
    background-color: colors.$secondary100;
  }

  &_is_deleting {
    background-color: colors.$danger500;
  }
}
