.row {
  &__name {
    cursor: pointer;
    color: var(--color-secondary700);

    &:hover {
      color: var(--color-secondary600);
    }
  }

  &_selected {
    background-color: var(--color-secondary200);
  }

  &:hover {
    background-color: var(--color-secondary100);
  }

  &_is_deleting {
    background-color: var(--color-danger500);
  }
}
