@use 'packages/theme/src/lib/styles/typography';

.header {
  padding: 2.4rem;
}

.title {
  margin: 0;
  //height: 4rem;
  padding: 0;
  @include typography.h2;
}

.subtitle {
  @include typography.subtitle;
}
