@use 'packages/theme/src/lib/styles/colors';

.select {
  display: flex;
  height: 100%;

  &__delimiter {
    align-self: stretch;
    width: 1px;
    background-color: colors.$neutral150;
  }

  &__target {
    padding: 0 0.8rem;
  }
}
