.layout {
  display: grid;
  grid-template-rows: auto auto 1fr;
  height: 100%;
  &__tabs {
    padding: 0 1.6rem 0 2.4rem;
    max-width: 100%;
    overflow: hidden;
  }
}

.content {
  padding-top: 1.6rem;
  overflow: hidden;
}
