@use 'packages/theme/src/lib/styles/media';

.root {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

  border-top: 0.5px solid var(--color-gray-300);
  width: 100%;
  padding: 0.4rem 1.6rem;

  background-color: var(--color-white);

  @include media.only(sm) {
    padding: 0.4rem 0.8rem;
  }
}

.outcomeButtonIcon {
  transition: filter 0.3s ease-in-out;
  width: 3.2rem;
  height: 2.4rem;
  filter: grayscale(100%);
  background: center / contain no-repeat url('packages/ui-kit/src/lib/icons/logo.svg');

  :global(.active) & {
    filter: grayscale(0);
  }
}
