.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1.6rem;
  height: 100%;
  width: 100%;
  overflow: auto;

  &__panel {
    padding: 0 1.6rem 0 2.4rem;
  }
}

.panel {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'toolbar pagination'
    'filter filter';

  &__toolbar {
    margin-right: 1.2rem;
    grid-area: toolbar;
  }

  &__pagination {
    grid-area: pagination;
    place-self: end;
  }

  &__filter {
    grid-area: filter;
    margin-top: 0.8rem;
  }
}

.filter {
  display: flex;
  gap: 0.8rem 2.4rem;
  flex-wrap: wrap;
}

.toolbar {
  display: flex;
  justify-content: space-between;

  &__buttons {
    display: flex;
    gap: 0.8rem;
  }

  &__rightColumn {
    display: flex;
    gap: 0.8rem;
    margin-left: 0.8rem;
  }

  &__search {
    min-width: 9.6rem;
  }
}

.filterButton {
  &_active {
    color: var(--color-gray-1000);
  }
}

.tableWrapper {
  overflow: auto;
  height: 100%;
  padding: 0 1.6rem 1.6rem 2.4rem;
}

.table {
  td {
    height: 1px;
  }
}

.multiSelect {
  min-width: 32rem;
}
