@use 'packages/theme/src/lib/styles/colors';

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form__bodyWrapper {
  position: relative;
  flex: 1;
  overflow: auto;
}

.form__body {
  height: 100%;
  padding: 1.6rem 3.2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
}


