@use 'packages/theme/src/lib/styles/mixins';
@use 'packages/theme/src/lib/styles/typography';

.root {
  @include mixins.resetButton;
  display: flex;
  align-items: center;
  column-gap: 1.6rem;
  width: 100%;
  padding: 1.2rem 1.6rem;
  color: var(--color-gray-900);

  &:hover {
    text-decoration: none;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__label {
    @include typography.textMD;
  }
}
