@use 'packages/theme/src/lib/styles/typography';

.accountBalances {
  border-radius: 0.4rem;
}

.row {
  background-color: var(--color-neutral0);
  @include typography.body();
  font-weight: bold;
  line-height: 1;

  td.row__firstCell {
    padding-left: 2.4rem;
  }

  td.row__lastCell {
    padding-right: 2.4rem;
  }

  &__currency_symbol {
    color: var(--color-neutral500);

    .row_group & {
    }
  }
}

.header {
  padding: 1.6rem 2.4rem;
  background-color: var(--color-neutral0);

  &__title {
    margin: 0;
  }

  &__date {
    display: inline-block;
    margin-left: 0.8rem;
  }

  &__options {
    display: inline-flex;
    gap: 1.6rem;
  }
}
