@use 'packages/theme/src/lib/styles/colors';
@use 'packages/theme/src/lib/styles/typography';

.container {
  //width: 500px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  background-color: colors.$white;
}

.header {
  padding: 16px 28px;

  &__title {
    margin: 0;
  }

  &__date {
    display: inline-block;
    margin-left: 8px;
  }

  &__options {
    display: inline-flex;
    gap: 20px
  }
}

.chart {
  width: 100%;
  height: 500px;
}

.tooltip {
  background: white;
  padding: 9px 12px;
  border: 1px solid #ccc;

  &__name {
    font-weight: bold;
  }

  &__date {
  }

  &__amount {
  }
}

.loader {
  height: 10rem;
}
