/* You can add global styles to this file, and also import other style files */
@import 'packages/theme/src/lib/styles/global';

:global {
  .scrollable {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  ::placeholder {
    color: var(--color-grey6);
    opacity: 1;
  }
}
