@use 'packages/theme/src/lib/styles/colors';
@use 'packages/theme/src/lib/styles/typography';

.header {
  @include typography.h2;
  .subHeader {
    @include typography.h6;
    display: inline-block;
    vertical-align: 2px;
  }
}

.article {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 24px;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.panel {
  display: grid;
  z-index: 4;

  background-color: colors.$grayLight;

  &__toolbar {
  }

  &__filter {
    display: flex;
    margin-top: 24px;
    column-gap: 24px;
    row-gap: 8px;
    flex-wrap: wrap;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  &__buttons {
    display: flex;
    gap: 16px;
  }

  &__rightColumn {
    display: flex;
    gap: 16px;
  }
}

.multiSelect {
  min-width: 300px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
