td.root {
  padding-left: 0;
  padding-right: 0;
}

.dateColumn {
  display: flex;
  align-items: center;
  border-radius: 0 4px 4px 0;
  height: 100%;
  background-color: var(--color-neutral100);
  cursor: pointer;

  &__colorMark {
    margin-right: 1rem;
    width: 0.8rem;
    height: 100%;
  }

  &__checkbox {
    img {
      display: block;
    }
  }

  &__dateContainer {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  }

  &__date {
    line-height: 1.4rem;
  }

  &__label {
    font-size: 1.2rem;
  }
}
