.row {
  &_is_deleting {
    background-color: var(--color-danger200);
  }
}

.tick {
  img {
    display: block;
    width: 2.4rem;
  }
}

.name {
  cursor: pointer;
  color: var(--color-secondary600);

  &:hover {
    color: var(--color-secondary700);
  }
}
