@use 'packages/theme/src/lib/styles/mixins';
@use 'packages/theme/src/lib/styles/typography';

.root {
  @include mixins.resetButton;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.4rem;
  transition: color 0.3s ease-in-out;
  width: 100%;
  padding-top: 0.4rem;
  color: var(--color-gray-800);

  &:hover {
    text-decoration: none;
  }

  &:global(.active) {
    color: var(--color-primary-700);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__label {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
