@use 'packages/theme/src/lib/styles/typography';

.root {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 75px rgba(43, 55, 79, 0.1);
  padding: 2.4rem;

  &__header {
    @include typography.h2;
    margin: 0;
    font-weight: 500;
  }

  &__description {
    @include typography.body;
    color: var(--color-gray-600);
  }

  &__price {
    margin-top: 2.4rem;
  }

  &__cancelText {
    color: var(--color-gray-600);
    margin: 0.8rem 0 3.2rem;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1.6rem;

    @container (max-width: 32rem) {
      flex-direction: column;
    }
  }
}

.price {
  &__number {
    font-weight: 500;
    font-size: 24px;
  }

  &__currency {
    padding-left: 0.4rem;
    font-size: 18px;
  }
}
