.container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  min-height: 2.4rem;

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
  }

  &__tag {
    max-width: 30rem;
  }
}
