.root {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  width: 100%;
}

.root__header {
  box-shadow: 0 0 4px var(--color-gray-200);
}

.root__content {
  width: 100%;
  overflow: auto;
}
