@use 'packages/theme/src/lib/styles/typography';

.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  &__content {
    padding: 0 1.6rem 1.6rem 2.4rem;
  }
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 2.4rem;
  overflow: hidden;
}

.cashFlow {
  border-bottom: solid 1px var(--color-neutral200);

  &__form {
    padding: 2.4rem 0;
    gap: 2.4rem;
  }
}

.cashFlowItems {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 2.4rem;
  overflow: hidden;
}

.tableWrapper {
  overflow: auto;
  height: 100%;
}

.cashFlow__container {
  display: flex;
  gap: 2.4rem;
}

.cashFlow__left {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 50%;
}

.cashFlow__right {
  width: 50%;
}

.cashFlow__footer {
  display: flex;
  gap: 0.8rem;
}

.panel {
  &__toolbar {
  }
}

.toolbar {
  &__buttons {
    display: flex;
    gap: 0.8rem;
  }
}

.table {
  td {
    height: 1px;
  }
}
