@use 'packages/theme/src/lib/styles/media';
@use 'packages/theme/src/lib/styles/shadow';
@use 'packages/theme/src/lib/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  background-color: var(--color-gray-50);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 8rem;
    max-width: 44rem;
    width: 100%;

    @include media.only(sm) {
      margin-bottom: 4rem;
      max-width: 100%;
      padding: 4.8rem 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
  }

  &__headerText {
    max-width: 90%;
    text-align: center;
    text-wrap: balance;
    @include typography.displaySMSemibold();

    @include media.only(sm) {
      @include typography.displayXSSemibold();
    }
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    @include shadow.shadowMD();
    border-radius: 1.2rem;
    margin-top: 4rem;
    width: 100%;
    padding: 3.2rem 4rem;
    background-color: var(--color-white);

    @include media.only(sm) {
      box-shadow: none;
      border-radius: unset;
      margin-top: 2rem;
      padding: 3.2rem 1.6rem;
    }
  }

  &__logomark {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -80%);
    display: flex;
    justify-content: center;

    svg {
      width: auto;
      height: 10rem;

      @include media.only(sm) {
        height: 8rem;
      }
    }
  }

  &__footer {
  }
}

.footer {
  &__link {
    margin: 0 1rem;
  }
}
