@use 'packages/theme/src/lib/styles/media';
@use 'packages/theme/src/lib/styles/typography';

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-neutral100);

  @include media.sm {
    justify-content: flex-start;
    padding: 1rem;
  }

  &__header {
    @include typography.h2();
  }

  &__body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    width: 100%;
    max-width: 54rem;
    padding-top: 6rem;
    box-shadow: 0 2px 5px rgba(43, 55, 79, 0.1);
    border-radius: 0.4rem;
    background-color: var(--color-neutral0);
    @include media.sm {
      margin-top: 8rem;
      padding-top: 4rem;
    }
  }

  &__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    display: flex;
    justify-content: center;

    svg {
      width: auto;
      height: 10rem;
    }
  }

  &__footer {
    padding: 2rem 0;
  }
}

.footer {
  &__link {
    margin: 0 1rem;
  }
}
