.main {
  padding-bottom: 4rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: 1.6rem;
  border-top: 0.5px solid var(--color-gray-200);
  padding: 1.6rem 1.6rem calc(1.6rem + env(safe-area-inset-bottom));
}
