@use 'packages/theme/src/lib/styles/typography';

.row {
  background-color: var(--color-white);
  @include typography.bodyHighlight();

  & td {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  &_group {
    @include typography.body();
    background-color: var(--color-gray-100);
  }

  &_delimiter {
    height: 0.8rem;
  }

  &_delimiter_with_border {
    border-top: 1px solid var(--color-gray-100);
  }

  &__amount {
    .row_group & {
    }
  }

  &__currency_symbol {
    color: var(--color-gray-500);

    .row_group & {
    }
  }

  td.row__lastCell {
    padding-right: 2.4rem;
  }
}

.label {
  vertical-align: top;
}
