@use 'packages/theme/src/lib/styles/typography';

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 5.7rem;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: auto;

  &__tabs {
    padding: 0.4rem 1.6rem;
  }

  &__content {
    overflow: auto;
  }
}

.operations,
.cashFlows {
  position: relative;
  overflow: auto;
  height: 100%;
}

.section {
  &__header {
    position: sticky;
    top: 0;
    /* prevent the overlapping of the scrollbar */
    margin-right: 0.8rem;
    padding: 0.4rem 1.6rem 0.8rem;
    background-color: white;
    @include typography.textMDMedium;
    color: var(--color-gray-500);
  }

  &__content {
    padding: 0.8rem 0;
  }
}

.loadMorePanel {
  padding: 1.6rem;
}
