@use 'packages/theme/src/lib/styles/colors';

.row_is_deleting {
  background-color: colors.$danger200;
}

.tags {
  display: inline-flex;
  gap: 0.8rem;
}

.categoryPath {
  color: colors.$neutral500;
}
