.amountFields {
  display: flex;

  width: 100%;
  gap: 2.4rem;
}

.dateFields {
  display: flex;
  width: 100%;
  gap: 1.6rem;

  &__date {
    width: 16rem;
  }
}

.reportPeriod {
  display: flex;
  gap: 0.8rem;

  &__input {
    width: 16rem;
  }
}

.additional {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  &__description {
    color: var(--color-gray-500);
  }

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }

  &__fields_hidden {
    display: none;
  }
}

.fee {
  display: flex;
  flex-direction: column;
  row-gap: 2.4rem;

  &__fields {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
  }

  &__fields_hidden {
    display: none;
  }
}

.footer {
  &__rightButtons {
    display: flex;
    gap: 0.8rem;
  }
}
