@use 'packages/theme/src/lib/styles/typography';

.container {
  text-align: center;
  padding: 0 2rem 2rem;

  &__text {
    @include typography.body1;
  }

  &__signInBtn {
    margin-top: 2.4rem;
  }
}
