.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 1.6rem;
  height: 100%;
  width: 100%;
  overflow: auto;

  &__panel {
    padding: 0 1.6rem 0 2.4rem;
  }
}

.panel {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'toolbar pagination'
    'filter filter';
  gap: 0.8rem 1.1rem;
  // for button shadow
  padding-top: 0.4rem;

  &__toolbar {
    grid-area: toolbar;
  }

  &__pagination {
    grid-area: pagination;
    display: flex;
    align-items: center;
  }

  &__filter {
    grid-area: filter;
  }
}

.filter {
  display: flex;
  gap: 0.8rem 2.4rem;
  flex-wrap: wrap;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;

  &__buttons {
    display: flex;
    gap: 0.8rem;
  }

  &__rightColumn {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    flex: 1 0 0;
    width: 0;
    max-width: 32rem;
  }

  &__search {
  }
}

.filterButton {
  &_active {
    color: var(--color-gray-1000);
  }
}

.tableWrapper {
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  height: 100%;
  padding: 0 1.6rem 1.6rem 2.4rem;

  &__emptyState {
    width: 44rem;
  }
}

.table {
  td {
    height: 1px;
  }
}

.multiSelect {
  min-width: 32rem;
}

.emptyState {
  &__illustration {
    width: 5.6rem;
    height: 5.6rem;

    & path {
      stroke-width: 1px;
    }
  }
}
