@use 'packages/theme/src/lib/styles/colors';

.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.content {
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 2.4rem;
  height: 100%;
  width: 100%;
  overflow: auto;

  &__panel {
    padding: 0 3.2rem;
  }
}

.panel {
}

.toolbar {
  display: flex;
  justify-content: space-between;

  &__buttons {
    display: flex;
    gap: 0.8rem;
  }
}

.tableWrapper {
  overflow: auto;
  height: 100%;
  padding: 0 3.2rem 2.4rem;
}

.table {
  td {
    height: 1px;
  }
}
